@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-main-brown {
  background-color: rgb(118, 72, 36);
}

.border-main-brown {
  border-color: rgb(118, 72, 36);
}

.text-main-brown {
  color: rgb(118, 72, 36);
}
.bg-light-brown {
  background-color: rgb(251, 236, 207);
}

.border-light-brown {
  border-color: rgb(251, 236, 207);
}

.text-light-brown {
  color: rgb(251, 236, 207);
}

.bg-light2-brown {
  background-color: rgb(253, 246, 231);
}

.transform:hover {
  transition: all 0.3s;
  transform: scale(0.95);
}
::-webkit-scrollbar.scrollbar {
  width: 0px;
  scrollbar-width: 0px;
}
.zoom {
  zoom: 0.5;
}
@media (max-width: 600px) {
  .zooming {
    zoom: 0.9;
  }
  .zooming2 {
    zoom: 0.9;
  }
}
@media (max-width: 450px) {
  .zooming {
    zoom: 0.8;
  }
  .zooming2 {
    zoom: 0.7;
  }
}
.wsn {
  white-space: normal;
}

.scroll::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  /* display: none; */
  /* height: 2px;
  width: 2px; */
  /* background-color:  rgb(118, 72, 36); */
}
